<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}

    {% seo %}
  </head>

  <body>

    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="content-wrapper">
      <!-- Sidebar -->
      <div class="sidebar">
        <ul>
          <li><a href="{{ '/introduction' | relative_url }}">Introduction</a></li>
          <li><a href="{{ '/authentication' | relative_url }}">Authentication</a></li>
          <li><a href="{{ '/user-management' | relative_url }}">User Management</a></li>
          <li><a href="{{ '/journal-entries' | relative_url }}">Journal Entries</a></li>
          <li><a href="{{ '/API-stats' | relative_url }}">API Stats and Statistics</a></li>
          <li><a href="{{ '/error-handling' | relative_url }}">Error Handling</a></li>
          <li><a href="{{ '/rate-limiting' | relative_url }}">Rate Limiting</a></li>
          <li><a href="{{ '/security' | relative_url }}">Security</a></li>
          <li><a href="{{ '/architecture' | relative_url }}">Architecture</a></li>
          <li><a href="{{ '/database' | relative_url }}">Database</a></li>
          <li><a href="{{ '/examples' | relative_url }}">Examples</a></li>
          <li><a href="{{ '/code-samples' | relative_url }}">Code Samples</a></li>
          <li><a href="{{ '/changelog' | relative_url }}">Changelog</a></li>
          <li><a href="{{ '/glossary' | relative_url }}">Glossary</a></li>
        </ul>
      </div>

      <div class="container">
        <!-- Main Content -->
        <section id="main_content">
          {{ content }}
        </section>
      </div>
    </div>

  </body>
</html>
